.onestop-seo-rewrite-value
{
    width: 80%;
}

.onestop-seo-generated-default
{
    color: #BDBCBC;
}

.onestop-seo-too-long
{
    color: #D84141;
}

.onestop-seo-generated-default.onestop-seo-too-long
{
    color: #E68585;
}

.onestop-seo-character-counter
{
    display: inline-block;
    width: 3em;
    text-align: right;
    margin: 0 1em 0 0.2em;
}